.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 30px;
    background-color: #000000;
    color: white;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.cart-icon {
    display: flex;
    padding-right: 30px;
    gap: 10px;
    float: right;
}

.order-history {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0 10px 30px;
    background-color: #000000;
    color: white;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    padding-right: 30px;
}

.social-icon {
    margin-right: 10px;
    cursor: pointer;
}
