.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 30px;
    background-color: #000000;
    color: white;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.cart-icon {
    display: flex;
    padding-right: 40px;
    gap: 15px;
    float: right;
}

.order-history {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0 10px 30px;
    background-color: #000000;
    color: white;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    padding-right: 30px;
}

.social-icon {
    margin-right: 10px;
    cursor: pointer;
}

.card {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-top: 15px;
}

.showLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #006CB5;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the background color */
    z-index: 1000; /* Make sure the loader is on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
